html {
  font-size: 62%;
  box-sizing: border-box;
}
body,
#root {
  height: 100vh;
  margin: 0;
}
.grid-container {
  display: grid;
  grid-template-areas: "header" 
  "main" 
  "footer";
  grid-template-rows:5rem 1fr 5rem ;
  grid-template-columns: 1fr;
  height: 100%;
}
header {
grid-area: header;
background-color: #336699;
display: flex;
align-items: center;
}
body,
input,
select,
textarea {
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
}
header a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: aquamarine;
}
main {
  grid-area: main;
  
  }
footer {
  grid-area: footer;
  color: #ffff;
  background-color: #0d2741;
  display: flex;
  align-items: center;
  justify-content: space-around;
  }  